@* @{
    ViewData["Title"] = "Profession Master";
}

<!-- Styles -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" rel="stylesheet" />

<style>
    .page-content {
        padding: 12px 20px 20px;
    }

    .active-row {
        background-color: #d9d9d9 !important;
    }
</style>

<!-- Breadcrumb -->
<div class="kt-subheader kt-grid__item" style="height:40px;">
    <div class="kt-subheader__main">
        <div class="kt-subheader__breadcrumbs">
            <a asp-controller="Home" asp-action="Index" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a asp-controller="Settings" asp-action="ProfessionMaster" class="kt-subheader__breadcrumbs-link">Profession Master</a>
        </div>
    </div>

    <div class="pull-right" style="display:flex; gap:10px; align-items:center;">
        <a href="#" onclick="ExportToExcelGrid('#tblProfession','excel');">
            <i class="fa fa-file-excel-o" style="font-size:20px;color:green;"></i>
        </a>
        <a id="btnAddProfession">
            <i class="fa fa-plus-square" style="font-size:22px;color:#333;"></i>
        </a>
    </div>
</div>

<!-- Page Content -->
<div class="page-content">
    <div class="row">

        <!-- LEFT GRID -->
        <div class="col-md-7">
            <table class="table table-striped table-bordered table-hover" id="tblProfession">
                <thead>
                    <tr>
                        <th>Profession</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>Doctor</td><td class="text-center"><i class="fa fa-trash text-danger btnDelete" style="cursor:pointer;"></i></td></tr>
                    <tr><td>Engineer</td><td class="text-center"><i class="fa fa-trash text-danger btnDelete" style="cursor:pointer;"></i></td></tr>
                </tbody>
            </table>
        </div>

        <!-- RIGHT PANEL -->
        <div class="col-md-5">
            <div class="panel panel-default" id="addPanel" style="display:none;">
                <div class="panel-heading">
                    <i class="fa fa-check-square-o"></i> &nbsp;&nbsp;<span>Profession</span>
                    <div class="pull-right">
                        <i class="fa fa-window-close fa-2x" style="cursor:pointer;" onclick="$('#addPanel').hide()"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <input type="text" id="txtProfession" class="form-control" maxlength="100" placeholder="Enter Profession" />
                </div>
                <div class="panel-footer">
                    <button class="btn btn-success" id="btnSave"><i class="fa fa-save"></i> Save</button>
                    <button class="btn btn-warning" id="btnReset"><i class="fa fa-history"></i> Reset</button>
                    <button class="btn btn-default pull-right" id="btnCancel"><i class="fa fa-times"></i> Cancel</button>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {

        var selectedRow = null;
        var table = $('#tblProfession').DataTable({ pageLength: 10, lengthMenu: [10,25,50,100], ordering: false });

        // Add button click
        $("#btnAddProfession").click(function () {
            selectedRow = null;
            $("#tblProfession tbody tr").removeClass("active-row");
            $("#addPanel").show();
            $("#txtProfession").val("").focus();
        });

        // Row click for edit
        $("#tblProfession tbody").on("click", "tr", function () {
            selectedRow = $(this);
            $("#tblProfession tbody tr").removeClass("active-row");
            $(this).addClass("active-row");
            var profession = $(this).find("td:eq(0)").text().trim();
            $("#txtProfession").val(profession);
            $("#addPanel").show();
        });

        // Save button
        $("#btnSave").click(function () {
            var profession = $("#txtProfession").val().trim();
            if (profession == "") { alert("Enter Profession"); return; }
            if (selectedRow == null) {
                table.row.add([profession, "<center><i class='fa fa-trash text-danger btnDelete'></i></center>"]).draw();
            } else {
                selectedRow.find("td:eq(0)").text(profession);
            }
            $("#txtProfession").val("");
            $("#addPanel").hide();
        });

        // Delete button
        $(document).on("click", ".btnDelete", function (e) {
            e.stopPropagation();
            table.row($(this).parents('tr')).remove().draw();
        });

        // Reset & Cancel
        $("#btnReset").click(function () { $("#txtProfession").val("").focus(); });
        $("#btnCancel").click(function () { $("#addPanel").hide(); });

    });

    // Dummy Export
    function ExportToExcelGrid(tableId, type) {
        alert("Export called for " + tableId + " as " + type);
    }
</script> *@
@{
    ViewData["Title"] = "Profession Master";
}

<style>
    .modal-dialog {
        max-width: 600px !important;
    }
</style>


<!-- Subheader -->
<div class="kt-subheader kt-grid__item" id="kt_subheader">

    <div class="kt-subheader__main">

        <div class="kt-subheader__breadcrumbs">

            <a asp-controller="Dashboard" asp-action="Index" class="kt-subheader__breadcrumbs-home">
                <i class="flaticon2-shelter"></i>
            </a>

            <span class="kt-subheader__breadcrumbs-separator"></span>

            <a href="javascript:;" class="kt-subheader__breadcrumbs-link">
                Basic Settings
            </a>

            <span class="kt-subheader__breadcrumbs-separator"></span>

            <a asp-controller="ProfessionMaster" asp-action="Index" class="kt-subheader__breadcrumbs-link">
                Profession Master
            </a>

        </div>

    </div>

</div>



<!-- Main Grid -->
<div class="kt-portlet kt-portlet--mobile">

    <div class="kt-portlet__head kt-portlet__head--lg">

        <div class="kt-portlet__head-label">

            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand fas fa-user-tie"></i>
            </span>

            <h3 class="kt-portlet__head-title">
                Profession Master
            </h3>

        </div>


        <div class="kt-portlet__head-toolbar">

            <div class="kt-portlet__head-wrapper">

                <div class="kt-portlet__head-actions">

                    <!-- Export -->
                    <button type="button"
                            class="btn btn-default btn-icon-sm"
                            onclick="ExportToExcelGrid('#tblProfession','excel')">

                        <i class="la la-download"></i>
                        Export

                    </button>

                    &nbsp;

                    <!-- Add -->
                    <a href="javascript:;"
                       class="btn btn-brand btn-elevate btn-icon-sm"
                       onclick="showAddModal()">

                        <i class="fas fa-plus-circle"></i>

                        Add Profession

                    </a>

                </div>

            </div>

        </div>

    </div>



    <div class="kt-portlet__body table-responsive">

        <table class="table table-striped table-hover table-checkable" id="tblProfession">

            <thead>
                <tr>
                    <th>Profession</th>
                    <th style="width:120px;">Action</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>Doctor</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md btnDelete">
                            <i class="fas fa-trash-alt text-danger"></i>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td>Engineer</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md btnDelete">
                            <i class="fas fa-trash-alt text-danger"></i>
                        </a>
                    </td>
                </tr>

            </tbody>

        </table>

    </div>

</div>



<!-- Add Profession Modal -->
<div class="modal fade" id="AddProfessionModal">

    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title">Add Profession</h5>

                <button type="button" class="close" data-dismiss="modal"></button>

            </div>

            <div class="modal-body">

                <input type="text"
                       id="txtProfession"
                       class="form-control"
                       placeholder="Enter Profession" />

            </div>

            <div class="modal-footer">

                <button class="btn btn-primary" onclick="saveProfession()">Save</button>

                <button class="btn btn-danger" onclick="resetProfession()">Reset</button>

                <button class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>

        </div>

    </div>

</div>



@section Scripts {

    <script>

        $(document).ready(function () {

            $('#tblProfession').DataTable({
                pageLength:10,
                ordering:false
            });

        });



        function showAddModal()
        {
            $("#txtProfession").val("");
            $("#AddProfessionModal").modal("show");
        }



        function saveProfession()
        {

            var profession = $("#txtProfession").val().trim();

            if(profession=="")
            {
                alert("Enter Profession");
                return;
            }

            $('#tblProfession').DataTable().row.add([
                profession,
                "<a href='#' class='btn btn-sm btn-clean btn-icon btn-icon-md btnDelete'><i class='fas fa-trash-alt text-danger'></i></a>"
            ]).draw();

            $("#AddProfessionModal").modal("hide");

        }



        function resetProfession()
        {
            $("#txtProfession").val("");
        }



        $(document).on("click",".btnDelete",function(){

            $('#tblProfession').DataTable().row($(this).parents('tr')).remove().draw();

        });



        function ExportToExcelGrid(tableId,type)
        {
            alert("Export Called for " + tableId);
        }

    </script>

}