@{
    ViewData["Title"] = "Payment";
}

<link href="~/assets/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<style>
    body,
    .page-content,
    .form-control,
    .table,
    .btn,
    label,
    select,
    input {
        font-size: 13px !important;
        font-family: 'Open Sans','Segoe UI',Arial !important;
    }
</style>

<!-- SUBHEADER -->
<div class="kt-subheader kt-grid__item">
    <div class="kt-subheader__main">
        <div class="kt-subheader__breadcrumbs">
            <a asp-controller="Dashboard" asp-action="Index" class="kt-subheader__breadcrumbs-home">
                <i class="flaticon2-shelter"></i>
            </a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="javascript:;" class="kt-subheader__breadcrumbs-link">
                Admin settings
            </a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a asp-controller="Payment" asp-action="Index" class="kt-subheader__breadcrumbs-link">
                Payment Master
            </a>
        </div>
    </div>
</div>

<!-- SEARCH -->
<div class="kt-portlet kt-portlet--mobile p-3 mb-2">
    <div class="form-group row align-items-end">

        <div class="col-md-3">
            <label>Patient</label>
            <input type="text" id="txtPatientSearch" class="form-control" placeholder="Enter Patient Name">
        </div>

        <div class="col-md-3">
            <label>Date:</label>
            <div class="input-daterange input-group">
                <input type="text" id="txtvalidFrom" class="form-control date-picker" name="startMonth" placeholder="Date" autocomplete="off" />
            </div>
        </div>

        <div class="col-md-3">
            <label>Mode</label>
            <select id="ddlModeSearch" class="form-control">
                <option value="">All</option>
                <option>Cash</option>
                <option>Card</option>
                <option>Cheque</option>
                <option>Bank</option>
            </select>
        </div>

        <div class="col-md-3">
            <button class="btn btn-primary mr-2" onclick="paymentMaster.Search();">Search</button>
            <button class="btn btn-danger mr-2" onclick="paymentMaster.Reset();">Reset</button>
        </div>

    </div>
</div>

<!-- GRID -->
<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Payment List</h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <a href="javascript:;" class="btn btn-brand btn-elevate btn-icon-sm" onclick="paymentMaster.OpenAdd();">
                <i class="fas fa-plus-circle"></i> Add Payment
            </a>
        </div>
    </div>

    <div class="kt-portlet__body table-responsive">
        <table class="table table-striped table-hover table-checkable" id="tblPayment">
            <thead>
                <tr>
                    <th>Patient</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Paid</th>
                    <th>Balance</th>
                    <th>Mode</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="PaymentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content payment-modal">

            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title">Payment Details</h5>
                <button type="button" class="close" data-dismiss="modal"></button>
            </div>

            <!-- Body -->
            <div class="modal-body">
                <form id="frmPayment">

                    <div class="row">

                        <div class="col-md-4 form-group">
                            <label>Patient</label>
                            <input type="text" id="txtPatient" class="form-control" placeholder="Patient Name">
                        </div>

                        <div class="col-md-4 form-group">
                            <label>Total Amount</label>
                            <input type="text" id="txtTotal" class="form-control" placeholder="Total Amount">
                        </div>

                        <div class="col-md-4 form-group">
                            <label>Paid Amount</label>
                            <input type="text" id="txtPaid" class="form-control" placeholder="Paid Amount">
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4 form-group">
                            <label>Balance</label>
                            <input type="text" id="txtBalance" class="form-control" placeholder="Balance Amount">
                        </div>

                        <div class="col-md-4 form-group">
                            <label>Date</label>
                            <input type="text" id="txtvalidFrom" class="form-control date-picker" placeholder="Select Date" autocomplete="off">
                        </div>

                        <div class="col-md-4 form-group">
                            <label>Payment Mode</label>
                            <select id="ddlMode" class="form-control">
                                <option value="">Select Mode</option>
                                <option>Cash</option>
                                <option>Card</option>
                                <option>Cheque</option>
                                <option>Bank Transfer</option>
                            </select>
                        </div>

                    </div>

                </form>
            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <button class="btn btn-success" onclick="paymentMaster.Save();">
                    Save
                </button>

                <button class="btn btn-warning" onclick="paymentMaster.ResetForm();">
                    Reset
                </button>

                <button class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/dataTables.bootstrap.min.js"></script>

    <script>
        var paymentMaster = {
            data: [],
            table: null,

            Init: function () {
                this.table = $("#tblPayment").DataTable({
                    pageLength: 10
                });
            },

            OpenAdd: function () {
                $("#PaymentModal").modal("show");
            },

            Save: function () {
                var p = {
                    patient: $("#txtPatient").val(),
                    total: $("#txtTotal").val(),
                    paid: $("#txtPaid").val(),
                    balance: $("#txtBalance").val(),
                    date: $("#txtDate").val(),
                    mode: $("#ddlMode").val()
                };

                if (!p.patient) {
                    alert("Enter patient name");
                    return;
                }

                this.data.push(p);
                this.Load();
                this.ResetForm();
                $("#PaymentModal").modal("hide");
            },

            Load: function () {
                this.table.clear();
                this.data.forEach(function (x, i) {
                    paymentMaster.table.row.add([
                        x.patient,
                        x.date,
                        x.total,
                        x.paid,
                        x.balance,
                        x.mode,
                        "<i class='fa fa-edit' onclick='paymentMaster.Edit(" + i + ")'></i>",
                        "<i class='fa fa-trash text-danger' onclick='paymentMaster.Delete(" + i + ")'></i>"
                    ]);
                });
                this.table.draw();
            },

            Edit: function (i) {
                var x = this.data[i];
                $("#txtPatient").val(x.patient);
                $("#txtTotal").val(x.total);
                $("#txtPaid").val(x.paid);
                $("#txtBalance").val(x.balance);
                $("#txtDate").val(x.date);
                $("#ddlMode").val(x.mode);

                this.data.splice(i, 1);
                this.OpenAdd();
            },

            Delete: function (i) {
                if (confirm("Delete payment?")) {
                    this.data.splice(i, 1);
                    this.Load();
                }
            },

            Search: function () {
                this.table.column(0).search($("#txtPatientSearch").val());
                this.table.column(1).search($("#txtDateSearch").val());
                this.table.column(5).search($("#ddlModeSearch").val());
                this.table.draw();
            },

            Reset: function () {
                $("#txtPatientSearch").val("");
                $("#txtDateSearch").val("");
                $("#ddlModeSearch").val("");
                this.table.search("").columns().search("").draw();
            },

            ResetForm: function () {
                $("#frmPayment")[0].reset();
            }
        };

        $(document).ready(function () {
            paymentMaster.Init();
        });
            //// DATE PICKER
        if ($(".date-picker").length > 0) {
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: DateTimeDataFormat.ddMyyyy
            });

            $(".date-picker").datepicker("setDate", new Date());
        }
    </script>
}